* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

canvas {
	position: fixed;
	pointer-events: none;
	top: 0;
	/* z-index: -1; */
}
html{
	cursor:url('public/cursor11.png'),auto;
}
.poem h2 {
	font-size: 16px;
	color: white;
}

.poem {
	scroll-snap-align: center;

	width: 100vw;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	height: 100vh;
	/* border: 2px solid red; */
	display: flex;
	justify-content: start;
	align-items: center;
	padding-left: 5vw;
	padding-right: 5vw;
}

.poem.left {
	justify-content: start;
}

.poem.right {
	justify-content: end;
}
.poem.center {
	justify-content: center;
}
.poem_container {
	text-align: start;
	max-width: 500px;
	/* border: 2px solid blue; */
	margin-left: 7%;
	
}


.poem.right > .poem_container {
	text-align: end;
}

.poem p {
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 25px;
}

.container {
	/* Make this a vertical scroll container */
	overflow-y: scroll;
	/* Required height to enable scrolling, 100vh for full viewport height */
	height: 100vh;
	/* Enable scroll snapping */
	scroll-snap-type: y mandatory;
}
#explore {
	position: absolute;
	z-index: 7;
	background-color: #6b81bf;
	color: #e9ddbb;
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 16px;
	border: none;
	border-radius: 15px;
	padding: 15px 50px;
	margin-left: -30%;
}
#back {
	position: absolute;
	z-index: 7;
	background-color: #bd9768;
	color: #e9ddbb;
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 16px;
	border: none;
	border-radius: 15px;
	padding: 15px 45px;
	margin-left: -13%;
	margin-top: 3%;
}

#explore:hover {
	cursor:url('public/cursor22.png'),auto;
	background-color: rgb(235, 219, 144);
	color: rgb(255, 255, 255);
	transition: 0.7s;
}
#back:hover {
	cursor:url('public/cursor22.png'),auto;
	background-color: rgb(235, 219, 144);
	color: rgb(255, 255, 255);
	transition: 0.7s;
}

#intro {
	color: #ffffff;
	text-align: center;
	place-content: center;
	font-size: 150px;
	border: none;
	border-radius: 15px;
	/* padding: 15px 50px; */
	/* margin-left: -100%; */
	clip-path: polygon(-100% -50%, 30% -50%, 30% 100%, -100% 100%);
	
}

.char {
    transform: translateY(600%);
    transition: transform 0.5s;
}
#scroll{
    color:#fbff95;
	font-size:23px;
}
.my-text {
	text-transform: uppercase;
	transform: translateY(-200px);
	transition: transform 0.5s;
}

.mbti {
	font-size: 90px;
	color: #f1ea9c;
}
.INTRO {
	top: 50%;
	left: 90%;
	transform: translate(70%, -60%);
}
#section1,
#section2,
#section3,
#section4,
#section5 {
	position: relative;
	/* z-index: -2; 设置其他区段的 z-index 值为更高 */
}
#section1 {
	background-color: black;
	background-image: url(./public/background.png);
	background-repeat: no-repeat;
	background-size: cover;
}
#section2 {
	background-color: rgb(202, 154, 207);
}
#section3 {
	background-color: rgb(177, 208, 151);
}
#section4 {
	background-color: rgb(166, 207, 217);
}
#section5 {
	background-color: rgb(226, 196, 107);
}